@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
    color: white;
    padding: 10px;
}

.loginInfo {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 5px;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
}

label {
    padding-right: 10px;
}

.loginUser {
    padding-right: 25px;
}

input {
    margin-left: 25px;
    width: 150px;
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 2px;
}

.loginButtons {
    margin-top: 25px;
    text-align: center;
}

button {
    text-decoration: none;
    padding: 5px;
    width: 80px;
    margin-right: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #4c8ccc;
    background: #d1d1d1;
    border: none;
    border-radius: 10px;
}
