@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white
}

ul {
    list-style-type: none;
    text-align: center;

}

a:link {
    text-decoration: none;
    padding-right: 50px;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #d1d1d1;
}
/*
li {
    padding-right: 40px;
} */

/* .home {
    padding-right: 40px;
}

.spots {
    color:thistle;
    padding-right: 40px;
}

.login {
    padding-right: 40px;
}

.signup {
    padding-right: 40px;
} */
